*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  cursor: pointer;
}

body{
  background-color: var(--primary__color);
}
.background__primary{
  background-color: rgb(227, 235, 241);
}

a{
  text-decoration: none;
  color: white;
  font-family: var(--secondary__font);
  font-weight: bold;
}

#root{
  overflow: hidden;
}

:root{
  --primary__color: #CD0040;
  --secondary__color: #0A0A23;
  --pro__card__color: #A8E6A1;
  --con__card__color: #FF7D7D;
  --basic__plan: #FF7D7D;
  --medium__plan: #CD0040;
  --advanced__plan: #8B002C;
  --secondary__text: #0045BA;
  --shadow: rgb(65, 65, 65);
  --secondary__font: 'Open Sans', sans-serif;
  --main__font: 'Bebas Neue', 'sans-serif';
  --pro__dot: #547050;
  --con__dot: #BD2020;
}

.navbar__main{
  z-index: 10;
  position: fixed;
  width: 100vw;
  height: auto;
  min-height: 8vh;
  background-color: var(--primary__color);
  box-shadow: 0 5px 15px var(--shadow) !important;
  padding-left: 10%;
  padding-right: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 20rem;

  & div.navbar__links{

    align-self: center;
    justify-self: end;

    & > ul{
      display: flex;
      list-style-type: none;
      gap: 1rem;
    }
  }

  & div.navbar__header{
    align-self: center;
    display: flex;
    align-items: center;
    gap: 1rem;

    & > img{
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 100%
    }

    & > p{
      color: white;
      font-family: var(--secondary__font);
      font-weight: bold;
    }
  }
}

.navbar__side__toggle{
  width: 4rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  display: none;
  flex-direction: column;
  justify-content: space-around;

  & div{
    border-radius: .5rem;
  }
  & > div:nth-child(1){
    width: 100%;
    background-color: white;
    height: .25rem;
  }

  & > div:nth-child(2){
    width: 65%;
    background-color: white;
    height: .25rem;
  }

  & > div:nth-child(3){
    width: 45%;
    background-color: white;
    height: .25rem;
  }
}

.navbar__side{
  z-index: 11;
  width: 16rem;
  height: 100vh;
  position: fixed;
  background-color: var(--primary__color);
  display: grid;
  transform: translateX(-100%);
  grid-template-rows: 5.5vh 1fr;
  transition: .5s ease-in-out;
  & > .navbar__side__toggle{
    justify-self: end;
    align-self: center;
  }

  & > .navbar__side__offload{
    position: absolute;
    display: none;
    width: calc(100vw - 16rem);
    height: 100vh;
    transform: translateX(16rem);
    background-color: transparent;
    border: none;
  }
}

.navbar__side__button{
  width: 4rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-self: end;
  align-self: center;
  margin-right: 1rem;
  & div{
    border-radius: .5rem;
  }
  & > div:nth-child(1){
    width: 100%;
    background-color: white;
    height: .25rem;
  }

  & > div:nth-child(2){
    width: 65%;
    background-color: white;
    height: .25rem;
  }

  & > div:nth-child(3){
    width: 45%;
    background-color: white;
    height: .25rem;
  }
}

.navbar__side__open{
  transform: translateX(0);
  transition: .25s ease-in-out;

  & > .navbar__side__offload{
    display: block;
  }
}

.navbar__side__links{
  display: flex;
  justify-content: center;
  padding-top: 15rem;
  & > ul{
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
  }
}



@media (max-width: 820px){
  .navbar__main{
    & > *{
      font-size: .8rem;
    }

  }
}

/* .fixed__filler{
  height: 8vh;
} */

@media (max-width: 680px){
  .navbar__main, .fixed__filler{
    /* height: 5.5vh;  Right here */
  }
  .navbar__links > ul > li:nth-child(1){
    display: none;
  }
    .navbar__links > ul > li:nth-child(2){
    display: none;
  }
  .navbar__header > img, .navbar__header > p{
    display: none;
  }
  .navbar__side__toggle{
    display: flex;
  }

}

footer{
  min-width: 20rem;
  background-color: var(--secondary__color);
  min-height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0 3rem 0;

  & > *{
    color: white;
  }

  & > section{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 15rem);
    justify-content: center;
    column-gap: 2%;
    row-gap: 1rem;
  }

  & > section > div{
    position: relative;
    display: flex;
    flex-direction: column;

    & > ul > li > p{
      font-family: var(--secondary__font);
      font-size: .8rem;
    }
    & > h3{
      font-family: var(--main__font);
      letter-spacing: .125rem;
      font-weight: normal;
      margin-bottom: .5rem;
    }

    & > ul{
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-bottom: 1rem;
      & > li > a, & > li > p{
        font-weight: normal;
        font-size: .8rem;
      }
    }
  }
}

.copy__right{
  font-family: var(--secondary__font);
  font-size: .625rem;
}

.copyright__contianer{
  display: none;
}

@media (max-width: 750px){

  .cr__original{
    display: none;
  }
  .copyright__contianer{
    display: block;
  }
  footer{
    padding: 3rem 15% 3rem 15%;
  }
  footer > section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .footer__border{
    border-bottom: 1px solid white;
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}

.skeleton__container{
  padding-left: .5rem;
  padding-right: .5rem;
}

.skeleton{
  height: .8rem;
  background-color: grey;
  border-radius: .2rem;
  animation: pulse 1.5s ease-in-out infinite;
}

.skeleton__image{
  align-self: center;
  justify-self: center;
  background-color: grey;
  width: 6rem;
  height: 80%;
  border-radius: .5rem;
  animation: pulse 1.5s ease-in-out infinite;
}

.sk__desc{
  width: 95%;
}

.sk__type, .sk__price{
  width: 35%;
}
.skelton__button{
  margin-top: auto;
  align-self: center;
  padding: 1rem 2.5rem 1rem 2.5rem;
  background-color: grey;
  border: none;
  border-radius: .5rem;
  animation: pulse 1.5s ease-in-out infinite;
}

.skeleton-image__computerXid{
  width: 80%;
  aspect-ratio: 1 / 1;
  align-self: center;
  justify-self: center;
  background-color: grey;
  border-radius: .5rem;
  animation: pulse 1.5s ease-in-out infinite;
}

.skeleton-description{
  width: 45%;
  background-color: grey;
  height: 1rem;
  justify-self: center;
  border-radius: .25rem;
  animation: pulse 1.5s ease-in-out infinite;
}

.skeleton-price{
    width: 85%;
    height: 2rem;
    background-color: grey;
    margin-bottom: 1rem;
    border-radius: .5rem;
    animation: pulse 1.5s ease-in-out infinite;
}

.skeleton-price__button{
    padding: 1.5rem 3rem 1.5rem 3rem;
    background-color: grey;
    border-radius: .5rem;
    animation: pulse 1.5s ease-in-out infinite;
}

.skeleton-image__computer__header{
    align-self: center;
    justify-self: center;
    width: 50%;
    aspect-ratio: 1 / 1;
    background-color: grey;
    border-radius: 1rem;
    animation: pulse 1.5s ease-in-out infinite;
}

.skeleton-span{
  display: inline-block;
  width: 35%;
  margin-left: 1rem;
  height: 1rem;
  border-radius: .25rem;
  background-color: grey;
  animation: pulse 1.5s ease-in-out infinite;
}

.featured-deal-skeleton__image{
  width: 10rem;
  height: 10em;
  background-color: grey;
  border-radius: 1rem;
  align-self: center;
  justify-self: center;
  animation: pulse 1.5s ease-in-out infinite;
}

.featured-deal-skeleton__link{
  width: 100%;
  height: 1rem;
  border-radius: .25rem;
  background-color: grey;
  animation: pulse 1.5s ease-in-out infinite;
}

.featured-deal-skeleton__price{
  width: 30%;
  height: 1rem;
  border-radius: .25rem;
  background-color: grey;
  animation: pulse 1.5s ease-in-out infinite;
}

.featured-deal-skeleton__button{
  width: 45%;
  height: 3rem;
  align-self: center;
  border-radius: .5rem;
  background-color: grey;
  animation: pulse 1.5s ease-in-out infinite;
}


.cart-item-skeleton{
    display: grid;
    grid-template-columns: 8rem 1fr;
    animation: pulse 1.5s ease-in-out infinite;
}

.cart-item-skeleton__image{
    width: 100%;
    aspect-ratio: 1 / 1.5;
    background-color: grey;
    border-radius: 1rem;
}

.cart-item-skeleton__wrapper{
    padding-top: 1rem;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
}

.cart-item-skeleton__wrapper__content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    & > h1{
        width: 90%;
        height: 1rem;
        background-color: grey;
        border-radius: .3rem;
    }

    & > p{
        width: 20%;
        height: 1rem;
        background-color: grey;
        border-radius: .3rem;
        min-width: 5rem;
    }
}

.cart-item-skeleton__wrapper__button{
    padding: .8rem 1.5rem .8rem 1.5rem;
    background-color: grey;
    color: grey;
    border: none;
    font-weight: 900;
    font-family: var(--secondary__font);
    border-radius: .5rem;
    width: max-content;
    align-self: flex-end;
}

@media (max-width: 500px){
    .cart-item-skeleton{
        grid-template-columns: none;
        grid-template-rows: 10rem auto;
    }

    .cart-item-skeleton__image{
        width: 6.25rem;
        align-self: center;
        justify-self: center;
    }
}

.loading{
  width: 2rem;
  height: 2rem;
  animation: loading 1s ease-in-out infinite;
}

@keyframes loading{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}