.home__hero{
    padding: 2rem 3% 2rem 3%;
    display: flex;
    justify-content: center;
}

.home__hero__image{
    position: relative;
    aspect-ratio: 3 / 1;
    max-height: 67.5rem;
    border-radius: 1rem;
    width: clamp(18.8rem, 100%, 120rem);
    min-height: 15rem;
    background: url('../../images//heroImage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 95%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-left: clamp(5rem, 15%, 10rem);
    & > *{
        z-index: 4;
    }

    & > div{
        max-width: max-content;
        & > h1{
            color: white;
            font-family: var(--main__font);
            font-size: clamp(2rem, 6vw, 5rem);

            & > span{
                color: var(--primary__color);
            }
        }

        & > p{
            margin-left: auto;
            max-width: max-content;
            color: white;
            font-size: clamp(.5rem, 3vw, 1rem);
            font-family: var(--secondary__font);

            & > span{
                color: var(--primary__color);
                font-weight: bold;
            }
        }
    }
    & > button{
        width: 10rem;
        padding: 1rem;
        border-radius: .5rem;
        border: none;
        background-color: var(--primary__color);
        color: white;
        font-family: var(--secondary__font);
        font-weight: bold;
    }
}

.home__hero__image::after{
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    background-color: black;
    border-radius: 1rem;
    opacity: 65%;
}

@media (max-width: 880px){
    .home__hero__image{
        padding: 0;
        align-items: center;
        & > div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            & > p{
                margin: 0;
            }
        }

        & > button{
            width: 8rem;
            padding: .8rem;
            font-size: .8rem;
        }
    }
}


.home__main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5rem;
    column-gap: 5rem;
}

.home__information__card__container{
    padding: 0 1rem 0 1rem;
}

.home__information__card__container > *{
    align-self: center; 
}

.information__card{
    position: relative;
    width: clamp(12rem, 31vw, 25rem);
    aspect-ratio: 1 / 1.25;
    border-radius: 1.5rem;
    display: grid;
    grid-template-rows: 2rem 1fr;
    padding: 1rem;
    & > * {
        z-index: 3;
    }
    & > h1{
        font-family: var(--main__font);
        align-self: center;
        justify-self: center;

        & > span{
            color: var(--primary__color);
        }
    }
    & > ul{
        list-style-type: none;
        justify-self: center;
        max-width: max-content;

        & > li{
            font-family: var(--secondary__font);
            display: flex;
            align-items: center;

            &::before{
                content: "•";
                color: var(--pro__dot);
                width: 1em;
                font-size: 2rem;
            }
        }
    }
}

.information__card::after{
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    opacity: 25%;
    border-radius: 1.5rem;
}

.pro{
    border: 2px solid var(--pro__card__color);
    justify-self: end;
}

.pro::after{
    background-color: var(--pro__card__color);
}

.con{
    border: 2px solid var(--con__card__color);

    & > ul > li{

        &::before{
            color: var(--con__dot);
        }
    }

        & > ul > li:nth-child(3){

        &::before{
            color: var(--pro__dot);
        }
    }
}

.con::after{
    background-color: var(--con__card__color);
}

@media (max-width: 1000px){
    .home__main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .information__card{
        justify-self: auto;
        aspect-ratio: 3 / 1;
        width: clamp(12rem, 100%, 35rem);
    }

    .home__information__card__container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}